<div class="formgrid grid">
  <div class="field col">
    <p-inputNumber inputId="integeronly" [(ngModel)]="numA"></p-inputNumber>
  </div>
  <div class="field col">
    <p-inputNumber inputId="integeronly" [(ngModel)]="numB"></p-inputNumber>
  </div>
  <div class="field col">
    <p-dropdown
      [options]="calculations"
      [(ngModel)]="calcFn"
      optionLabel="name"
      optionValue="value"
    ></p-dropdown>
  </div>
  <div class="field col">
    <p-button (click)="calculateNumbers()" [label]="calcFn.toUpperCase()"></p-button>
  </div>
  <div class="field col">
    <p>Answer is {{ answer }}</p>
  </div>
</div>
